@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root{
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--verydark: hsl(234, 12%, 34%);
	--verylight: hsl(0, 0%, 98%);
	--grayishblue: hsl(229, 6%, 66%);
}
*{
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
	margin: 0;
}
body{
	font-family: 'Poppins', helveica, sans-serif;
	font-size: 15px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	padding: 5rem 1.5rem 1rem;
	background-color: var(--verylight);
}

.main{
	margin-left: auto;
	margin-right: auto;
}
.header{
	text-align: center;
	font-size: 1.5rem;
	color: var(--verydark);
	margin-bottom: 4rem;
}
.title-thin{
	font-weight: 200;
}
.title-bold{
	font-weight: 600;
	
}
.header .paragraph{
	font-size: 1rem;
}
.paragraph{
	color: var(--grayishblue);
	font-size: 0.8rem;
}
.grid{
	display: grid;
}
.grid-item{
	border-top-width: 3px;
	border-top-style: solid;
	border-radius: 0.25rem;
	box-shadow: 0 5px 30px -10px var(--grayishblue);
	margin-bottom: 2rem;
	padding: 2rem;
}
.item-title{
	font-size: 1.3rem;
	color: var(--verydark);
}
.icon{
	width: 55px;
	height: auto;
	display: block;
	margin-top: 2rem;
	margin-left: auto;
}
.grid-item:nth-of-type(1){
	border-top-color: var(--cyan);
}
.grid-item:nth-of-type(2){
	border-top-color: var(--red);
}
.grid-item:nth-of-type(3){
	border-top-color: var(--orange);
}
.grid-item:nth-of-type(4){
	border-top-color: var(--blue);
}
@media screen and (min-width: 640px){
	.grid{
		grid-template-columns: repeat(2, 50%);
		grid-column-gap: 20px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.icon{
		width: 65px;
	}
}
@media screen and (min-width: 1280px){
	.header{
		font-size: 2rem;
	}
	.header .paragraph{
		max-width: 550px;
		margin: 1.5rem auto auto;
	}
	.grid{
		width: 1110px;
		margin-right: auto;
		margin-left: auto;
		grid-template-columns: repeat(3, 350px);
		grid-template-rows: repeat(4, 135px);
		grid-column-gap: 30px;
	}
	.grid-item:nth-of-type(1){
		grid-column: 1 / 2;
		grid-row: 2 /4;
	}
	.grid-item:nth-of-type(2){
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
	.grid-item:nth-of-type(3){
		grid-column: 2 / 3;
		grid-row: 3 / 5;	
	}
	.grid-item:nth-of-type(4){
		grid-column: 3 / 4;
		grid-row: 2 / 4;
	}
	.item-title{
		margin-bottom: 1rem;
	}
}
